---
- name: executando a playbook 
  hosts: prod 
  tasks:
   - name: usando ansible valt
     package: 
      name: "{{item}}"
     with_items:
      - apache2 
      - mysql 
      - php 
     when: ansible_os_family == "Debian"


   - name: usando ansible valt
     package: 
      name: "{{item}}"
     with_items:
      - httpd 
      - mysql 
      - php 
     when: ansible_os_family == "RedHat"
